@use "variables/colors";
@use "variables/measures";
@use "variables/typographies";

.stats-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: measures.$main-width;
  height: measures.$main-height;

  background-color: colors.$primary-color-desaturated-blue;
  color: colors.$secondary-color-paragraph-white;
  font-family: typographies.$main-font;

  border-radius: measures.$border-radius;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  .text-color {
    color: colors.$primary-color-violet;
  }

  &__image {
    width: 100%;
    border-radius: measures.$border-radius measures.$border-radius 0 0;
  }

  &__text-container {
    padding: measures.$main-padding;
    height: 100%;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
