$primary-color-darkest-blue: hsl(233, 47%, 7%);
$primary-color-desaturated-blue: hsl(244, 38%, 16%);
$primary-color-violet: hsl(277, 64%, 61%);

$secondary-color-white: hsl(0, 0%, 100%);
$secondary-color-paragraph-white: hsla(0, 0%, 100%, 0.75);
$secondary-color-headings-white: hsla(0, 0%, 100%, 0.6);
